:root {
  --accent-color: #2196f3;
  --basic-color-white: #ffffff;
  --second-background-color: #2f303a;
  --btn-background: #f5f4fa;
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --footter-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--first-text-color);
  background-color: var(--basic-color-white);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* ------------------Header--------------------- */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .logo-part {
  color: var(--first-text-color);
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* --------------------Hero------------------- */
.hero {
  color: var(--basic-color-white);
  background-color: var(--second-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--basic-color-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.secondary-hero-btn:hover,
.secondary-hero-btn:focus {
  background-color: var(--btn-background);
  color: #188cef;
}
/* ----------------SECTION особенности---------------- */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ------------SECTION чем мы занимаемся----------- */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team {
  background-color: var(--btn-background);
}
.team {
  background-color: var(--basic-color-white);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ----------------Футер------------------ */
footer {
  background-color: var(--second-background-color);
}
footer .logo-footer {
  color: var(--basic-color-white);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}
.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--basic-color-white);
}
.address-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footter-contact-color);
}
/* ---------------PORTFILIO-TITLE------------- */
.secondary:hover,
.secondary:focus {
  background-color: var(--accent-color);
  color: var(--basic-color-white);
}
.portfolio-btn,
.portfolio-btn-main {
  background-color: var(--btn-background);
  color: var(--first-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-style: normal;
  color: var(--first-text-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
